<div class="container">
  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li>
        <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
      </li>
      <li>
        <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

      </li>
      <li>
        <%= link_to("按照发表时间排序", jobs_path ) %>

      </li>
    </ul>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>职缺名称</th>
        <th>薪资下限</th>
        <th>薪资上限</th>
        <th>刊登时间</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job)) %></td>
        <td><%= job.wage_upper_bound %></td>
        <td><%= job.wage_lower_bound %></td>
        <td><%= job.created_at %></td>
      </tr>
      <% end  %>
    </tbody>
  </table>

</div>

<section class="home-video-hero">

  <div class="video-frame" data-video="/evernote.com/video/homepage/homepage-hero-video" data-image="/evernote.com/img/homepage/homepage-hero-video-desktop-still.jpg" data-mobile="/evernote.com/img/homepage/homepage-hero-video-mobile-still.jpg">
    <div class="video-overlay"></div>

    <video autoplay="autoplay" loop="loop" poster="https://cdn1.evernote.com/evernote.com/img/homepage/homepage-hero-video-desktop-still@2x.jpg">
      <source class="webm" type="video/webm" src="https://cdn1.evernote.com/evernote.com/video/homepage/homepage-hero-video@2x.webm">
      <source class="mp4" type="video/mp4" src="https://cdn1.evernote.com/evernote.com/video/homepage/homepage-hero-video@2x.mp4">
    </video>
    <div class="content-container">
      <div class="content">
        <h1>轻松找工作</h1>
        <div class="line"></div>
        <br>
        <p class="sub-cop">工作无处不在。在这里，帮你连接整个职缺市场，放心学习，轻松找Rails全栈工作。</p>
      </div>

      <div class="sign-up-form">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :email, label: false, placeholder: '邮箱'%>
          </div>
          <div class="col-sm-6">
            <%= f.input :password, label: false, placeholder: '密码', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
        </div>
        <p class="text-center" style="color: #ffffff; font-size: .5em;">点击注册即表明你同意本服务条款 和隐私条款。</p>
        <div class="form-actions">
          <%= f.button :submit, "免费注册", class: "my-button btn btn-success"%>
          <br><br>
          已有账号？<%= link_to("登入", new_user_session_path, id:"log-in-link", style: "font-size: 1.9rem;") %>
        </div>
        <% end %>
      </div>
    </div>

    <img src="https://cdn1.evernote.com/evernote.com/img/homepage/homepage-hero-video-desktop-still@2x.jpg" class="mobile-fallback" alt="" style="display: none;">
  </div>

</section>
